<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="popup.css" />
    <% if (NODE_ENV === 'development') { %>
    <!-- Load some resources only in development environment -->
    <% } %>
  </head>
  <body>
    <div id="wrapper" data-visibility="today">
      <div class="doughnut-wrapper">
        <div id="doughnut-today" class="doughnut-container sign-today-display"></div>
        <div id="doughnut-average" class="doughnut-container sign-average-display"></div>
        <div id="doughnut-alltime" class="doughnut-container sign-alltime-display"></div>
      </div>
      <nav class="chart-types">
        <ul>
          <li class="active"><a href="#" tabindex="-1" class="sign-today-link" data-visibility="today">Today</a></li>
          <li><a href="#" tabindex="-1" class="sign-average-link" data-visibility="average">Daily average</a></li>
          <li><a href="#" tabindex="-1" class="sign-alltime-link" data-visibility="alltime">All-time</a></li>
        </ul>
      </nav>
      <br />
      <div class="table-container sign-today-display">
        <div id="app">
          <div id="visualization"></div>
          <table class="datatable" id="table-today" data-range="today">
            <h1 id="total-time"></h1>
            <!-- <canvas id="dayPieChart" width="400" height="400"></canvas> -->
          </table>
        </div>
      </div>
      <div class="table-container sign-average-display">
        <table class="datatable" id="table-average" data-range="average"></table>
      </div>
      <div class="table-container sign-alltime-display">
        <table class="datatable" id="table-alltime" data-range="alltime"></table>
      </div>
    </div>
    <script src="popup.js"></script>
  </body>
</html>
